@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

li, a, button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;  
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #e000a3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s eas 0s;
}

.nav__links li a:hover {
    color: #e000a3
}

.button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.herolmg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 14px;
    color: #dddddd;
}

.footer {
    text-align: center;
}

.contactme {
    display: inline-block;
    padding: 25px;
    outline: 1px solid red;
}

.profile {
    width: 50%;
}